antspyx==0.5.4
contourpy==1.2.1
dicom2nifti==2.5.1
ipykernel
ipywidgets==8.1.5
keras==2.10.0
keras_tuner==1.4.7
kt-legacy==1.0.5
matplotlib==3.8.4
nibabel==5.3.2
nilearn==0.11.0
nipype==1.9.1
numpy==1.22.4
tensorflow==2.10.0
tensorflow-hub==0.16.1
tqdm==4.67.1
opencv-python==4.10.0.84
pandas==2.2.3
plotly==5.24.1
pydicom==3.0.1
scikit-learn==1.5.2
scikit-image==0.22.0
scipy==1.13.1
seaborn==0.13.2
setuptools
wheel